---
import Service from "../components/Service.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grow">
    <section>
      <h2 class="my-2 underline hover:text-orange-600">About me</h2>
      <div>
        <h4 class="prose text-lg text-slate-700 hover:text-orange-600">
          Hello! I’m Sazzad hossain.
        </h4>
        <p class="hover:text-orange-600">
          Back-end & Front-end developer from Dhaka, Bangladesh. I have rich
          experience in JavaScript, also I am good at TypeScript. I love to talk
          with you.
        </p>
      </div>
    </section>

    <section>
      <a href={"https://github.com/sazzadtanim"}>
        <h2 class="text-orange-500">https://github.com/sazzadtanim</h2>
      </a>
    </section>

    <section>
      <h2 class="underline hover:text-orange-600">My Services</h2>
      <div
        class="grid grid-cols-2 justify-between gap-10 hover:text-orange-600"
      >
        <Service />
        <Service />
      </div>
    </section>
  </main>
</Layout>
