---

---

<div
  title="Developer's Information"
  about="Developer's Information"
  class="grow"
  style="background-image: url('https://images.unsplash.com/photo-1501963917309-56546c33e19d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&quot;');"
>
  <div title="developer's info" class="mb-20 mt-72">
    <img
      title="Developer's img"
      alt="Mohammad Sazzad Hossain"
      src={`https://avatars.githubusercontent.com/u/8173325?v=4`}
      width={200}
      height={200}
      class="mx-auto rounded-full"
    />
    {/*  */}
    <h1 class="text-pretty text-center duration-100 hover:text-orange-600">
      Sazzad Hossain Tanim
    </h1>
    {/* animation of text */}
    <p class="myText prose prose-lg animate-pulse text-center text-white/70">
    </p>
    <div class="mx-auto flex scale-150 justify-center gap-5">
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/513060/whatsapp-128.svg"
          alt="whatsapp"
          class="w-6 h-6"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494273/facebook-round.svg"
          alt="facebook"
          class="w-6 h-6"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494272/github-round.svg"
          alt="github"
          class="w-6 h-6"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494287/twitter-round.svg"
          alt="twitter"
          class="w-6 h-6"
        />
      </a>
    </div>
  </div>

  <div
    title="action buttons"
    class="prose prose-slate flex w-full justify-between divide-x bg-white px-10 py-4"
  >
    <button
      class="flex items-center gap-4 px-2 py-1 uppercase tracking-tighter hover:text-orange-600"
    >
      download cv
      <img
        src="https://www.svgrepo.com/show/505222/download.svg"
        alt="download icon"
        class="w-8 h-8"
      />
      <!-- <FaCloudDownloadAlt /> -->
    </button>
    <button
      class="flex items-center gap-4 px-2 py-1 uppercase tracking-tighter hover:text-orange-600"
    >
      contact me
      <img
        src="https://www.svgrepo.com/show/533272/message-square-list.svg"
        alt="download icon"
        class="w-6 h-6"
      />
      <!-- <FaTelegramPlane /> -->
    </button>
  </div>
</div>

<style></style>
