---

---

<div
  class="bg-gray-600 flex flex-col justify-center h-[46rem] p-20"
  style="background-image: url('https://images.unsplash.com/photo-1501963917309-56546c33e19d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&quot;');"
>
  <div title="developer's info" class="mb-20 mt-72">
    <img
      title="Developer's img"
      alt="Mohammad Sazzad Hossain"
      src={`https://avatars.githubusercontent.com/u/8173325?v=4`}
      width={150}
      height={150}
      class="mx-auto rounded-full ring-4 ring-white"
    />
    {/*  */}
    <h1 class="text-pretty text-center duration-100 hover:text-orange-600">
      Sazzad Hossain Tanim
    </h1>
    {/* animation of text */}
    <p class="myText prose prose-lg animate-pulse text-center text-white/70">
    </p>
    <div class="mx-auto flex scale-150 justify-center gap-5 my-5 invert">
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/513060/whatsapp-128.svg"
          alt="whatsapp"
          class="w-4 h-4"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494273/facebook-round.svg"
          alt="facebook"
          class="w-4 h-4"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494272/github-round.svg"
          alt="github"
          class="w-4 h-4"
        />
      </a>
      <a href={"#"}>
        <img
          src="https://www.svgrepo.com/show/494287/twitter-round.svg"
          alt="twitter"
          class="w-4 h-4"
        />
      </a>
    </div>
  </div>

  <div
    title="action buttons"
    class="sm:flex justify-between bg-white bg-transparent invert -mx-16 ring-2 gap-5"
  >
    <button
      class="flex items-center gap-1 py-1 uppercase tracking-tighter hover:text-orange-600"
    >
      download cv
    </button>
    <button
      class="flex items-center gap-1 py-1 uppercase tracking-tighter hover:text-orange-600"
    >
      contact me
    </button>
  </div>
</div>
