---

---

<div
  class="xl:min-w-20 flex xl:flex-col xl:gap-10 items-center py-10 navigaton h-20 xl:h-auto pl-10 xl:px-0 gap-5 navigation"
>
  <a
    href=""
    title="theme and menu"
    class="mb-20 mt-10
    flex flex-col items-center justify-center gap-5"
  >
    <img
      alt={"navigation"}
      src={"https://www.svgrepo.com/show/530401/table-of-contents.svg"}
      width={40}
      height={40}
      class="h-10 w-10 stroke-slate-400"
    />
  </a>

  <a
    href=""
    title="theme and menu"
    class="mb-20 mt-10
  flex flex-col items-center justify-center gap-5"
  >
    <img
      alt={"navigation"}
      src={"https://www.svgrepo.com/show/530399/inspiration.svg"}
      width={40}
      height={40}
      class="h-10 w-10 stroke-slate-400"
    />
  </a>

  <div class="flex flex-col gap-4">
    <!-- {sidebaroptions?.map((option, index) => (
      <Option {...option} key={index} />
    ))} -->
  </div>
</div>

<style>
  .navigaton {
  }
</style>
