---

---

<!doctype html>
<html lang="en">
  <body class=`xl:flex mx-auto my-10 px-10 block`>
    <!-- <MiniSideBar /> -->
    <!-- <MiniSideBar />
    <Developer />
    <slot /> -->
    <div
      class="bg-gray-500 xl:min-w-20 flex xl:flex-col xl:gap-10 items-center py-10 navigaton h-20 xl:h-auto pl-10 xl:px-0 gap-5"
    >
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
      <div class="w-8 h-8 bg-red-100"></div>
    </div>
    <div class="bg-gray-600 grow">b</div>
    <div class="bg-gray-800 grow">c</div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    max-width: 90rem;
  }
  div {
    height: 86vh;
  }
  .navigaton {
    background: #000;
  }
</style>
