---
import Developer from "../components/Developer.astro";
import MiniSideBar from "../components/MiniSideBar.astro";
---

<!doctype html>
<html lang="en">
  <body class=`lg:flex mx-auto lg:my-20 lg:px-10 block container px-2`>
    <MiniSideBar />
    <Developer />
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    animation: upfade 0.5s ease-in;
  }

  @keyframes upfade {
    from {
      transform: translateY(10px);
      opacity: 0.5;
    }
  }

  @keyframes upfade2 {
    from {
      transform: translateY(5px);
      opacity: 0.5;
    }
  }

  .navigaton {
    animation: upfade2 0.5s ease;
  }
</style>
